# Dependencies
node_modules/
package-lock.json
bun.lock

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Cache
.cache/
.temp/
.tmp/
